{% block sexo_widget %}
    <select {{ block("widget_container_attributes") }}>
        <option value="">Selecione</option>
        <option value="M">Masculino</option>
        <option value="F">Feminino</option>
    </select>
{% endblock %}